@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: lightgray;
}

::-webkit-scrollbar-thumb {
  background-color: #4A5C2F;
  border-radius: 10%;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
